---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
    - posts_categories
    - posts_tags
---
{% for post in page.pagination.items %}
    <article>
        <header>
            <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
            <h3><small>{{ page.date | date("jS F, Y") }}</small></h3>
        </header>
        <div>
            {{ post.blocks.content|raw }}
        </div>
        {% if post.meta.tags %}
            <p class="tags">
            Tagged:
            {% for tag in post.meta.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}" class="btn btn-tag btn-sm">{{ tag }}</a>
            {% endfor %}
            </p>
        {% endif %}
    </article>
    <hr>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Older Posts</a>{% endif %}<br />
    </nav>
{% endif %}
